<h2>インターネット交通事故</h2>
今日 <br>
<span class="red">死亡: <%= @today_accident.dead %></span> <br>
<span class="green">負傷: <%= @today_accident.injured %></span><br>
<br>
昨日 <br>
<span class="red">死亡: <%= @yesterday_accident.dead %></span> <br>
<span class="green">負傷: <%= @yesterday_accident.injured %></span><br>


<%= link_to "死亡した", accidents_path(status:"dead"), method: :post, class: "button red" %>
<%= link_to "負傷した", accidents_path(status:"injured"), method: :post , class: "button green" %>
<br>
<%= tweet_link "ツイートする",  @tweet_text, class: "button tweet"%>